<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="../public/logo.png" name="og:image">
    <meta content="Deepfake detection is a web-based platform that leverages JPEN stack technology to implement deep learning algorithms, specifically CNN, GANs, Logistic regression." lang="en-us" name="description">
    <meta content="Cavernous Hoax Scanner, Deepfake Detector, DFD, Image tool, deepfake, image editor, project, CNN, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">Cavernous Hoax Scanner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css" />
    <link rel="stylesheet" href="../public/index.css" />
    <link rel="icon" href="../public/favicon.ico" />
</head>
<body>
    <header id="header">
        <%= header %>
    </header>
    <section class="workspace" id="apiLandingPage">
        <img src="../images/glow1.png" alt="chs" class="left-middle-des"/>
        <img src="../images/3d_atom.png" alt="chs" class="right-middle-des"/>
        <img src="../images/arrow_circle.png" alt="chs" class="left-bottom-des"/>
        <div class="apiLand">
            <div class="api-left api-container">
                <h2>CHS API Plugins</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia dolor vero voluptatem doloremque assumenda sint! Temporibus alias neque perferendis ullam explicabo dolores consectetur! Eveniet sapiente totam fugiat, autem accusantium nam?</p>
                <div class="flx">
                    <div class="btn btn-outline-process" onclick="route('/apiPlug')">Quick Start</div>
                    <div class="btn btn-invisible-process">View API Document</div>
                </div>
            </div>
            <div class="api-right api-container">
                <img src="../images/api_icon.png" alt="chs"/>
            </div>
        </div>
        <div class="product-list appear hide">
            <div class="product">
                <div class="icon"></div>
                <div class="head">Image Compressor</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
            <div class="product">
                <div class="icon"></div>
                <div class="head">Deepfake Detector</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
            <div class="product">
                <div class="icon"></div>
                <div class="head">Image Converter</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
        </div>
        <div class="api-workflow appear hide">
            <div class="api-workflow-left">
                <div class="api-logo">
                    <div class="api-icon"></div>
                    <div class="api-name">API Workflow</div>
                </div>
                <hr>
            </div>
            <div class="api-workflow-right">
                <div class="api-grid">
                    <div class="api-diagram"></div>
                </div>
            </div>
        </div>
    </section>
    <div id="customerFeed">
        <%= feed %>
    </div>
    </section>
    <aside id="faq-help" class="appear hide">
        <%= faq %>
    </aside>
    <footer id="footer">
        <%= footer %>
    </footer>
</body>
<script src="../public/App.js"></script>
<script src="../public/default.min.js"></script>
<script>
    pageSet.push('header', 'apiLandingPage', 'faq-help', 'footer');
    appearSet.push(['.product-list', 120], ['.api-workflow', 580],['#faq-help', 980]);
    currentPage.push('apiLanding');
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('footer').innerHTML = document.getElementById('footer').textContent;
    document.getElementById('faq-help').innerHTML = document.getElementById('faq-help').textContent;
    document.getElementById('customerFeed').innerHTML = document.getElementById('customerFeed').textContent;
</script>
</html>