<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="../public/logo.png" name="og:image">
    <meta content="Deepfake detection is a web-based platform that leverages JPEN stack technology to implement deep learning algorithms, specifically CNN, GANs, Logistic regression." lang="en-us" name="description">
    <meta content="Cavernous Hoax Scanner, Deepfake Detector, DFD, Image tool, deepfake, image editor, project, CNN, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">Cavernous Hoax Scanner</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css" />
    <link rel="stylesheet" href="../public/index.css" />
    <link rel="icon" href="../public/favicon.ico" />
</head>
<body>
    <header id="header">
        <%= header %>
    </header>
    <section class="workspace" id="apiPlugPage">
        <img src="../images/3d_donut.png" alt="chs" class="right-top-des"/>
        <img src="../images/glow1.png" alt="chs" class="left-middle-des"/>
        <img src="../images/3d_atom.png" alt="chs" class="right-middle-des"/>
        <img src="../images/arrow_circle.png" alt="chs" class="left-bottom-des"/>
        <div class="apiView">
            <div class="api-left api-container">
                <div class="flx head">
                    <h3>create your CHS API:</h3>
                    <div class="btn btn-outline-primary"><i class="fa fa-book"></i> User Guide</div>
                </div>
                <hr/>
                <div class="body">
                    <form>
                        <div class="form-group">
                            <label for="apiname">API Name</label>
                            <select class="form-control" id="apiname" aria-describedby="apiname" onchange="selectLang();">
                                <option>Image Compressor</option>
                                <option>Deepfake Detector</option>
                                <option>Image to Pdf Converter</option>
                                <option selected="true">Image Converter</option>
                            </select>
                            <small id="apiname" class="form-text text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus vitae maiores aspernatur. Quos, debitis.</small>
                        </div>
                        <div class="form-group">
                            <label for="apitype">API Type</label>
                            <select class="form-control" id="apitype" aria-describedby="apitype">
                                <option>Private</option>
                                <option selected="true">Public</option>
                            </select>
                            <small id="apitype" class="form-text text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus vitae maiores aspernatur. Quos, debitis.</small>
                        </div>
                        <div class="form-group">
                            <label for="apimethod">Method</label>
                            <select class="form-control" id="apimethod" aria-describedby="apimethod">
                                <option>GET</option>
                                <option selected="true">POST</option>
                            </select>
                            <small id="apimethod" class="form-text text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus vitae maiores aspernatur. Quos, debitis.</small>
                        </div>
                        <div class="form-group">
                            <label for="apilevel">Level Data</label>
                            <select class="form-control" id="apilevel" aria-describedby="apilevel" disabled="true">
                                <option>Custom</option>
                                <option selected="true">CHS</option>
                            </select>
                            <small id="apilevel" class="form-text text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus vitae maiores aspernatur. Quos, debitis.</small>
                        </div>
                        <div class="form-group left">
                            <label for="apioperation">Operations</label>
                            <select class="form-control" id="apioperation" aria-describedby="apioperation">
                                <option>Advanced</option>
                                <option selected="true">Basic</option>
                            </select>
                            <small id="apioperation" class="form-text text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus vitae maiores aspernatur. Quos, debitis.</small>
                        </div>
                        <hr/>
                        <div class="form-group left">
                            <label for="apikey">API Key</label>
                            <input type="password" class="form-control" id="apikey" aria-describedby="apikey" readonly/>
                            <small id="apikey" class="form-text text-muted">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus vitae maiores aspernatur. Quos, debitis.</small>
                        </div>
                    </form>
                </div>
                <hr/>
                <div class="flx head">
                    <div class="btn btn-process">Generate API</div>
                </div>
            </div>
            <div class="api-right api-container">
                <div class="flx head">
                    <h3>Code Snippets:</h3>
                    <div class="btn btn-outline-primary" onclick="system.inphantCDN();"><i class="fa fa-code"></i> Inphant CDN</div>
                </div>
                <hr/>
                <div class="body">
                    <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta maiores, nam natus voluptatibus sit quo minima expedita atque excepturi ipsam!</small>
                    <br>
                    <form>
                        <div class="form-group">
                            <select class="form-control" id="apilang" onchange="selectLang();">
                                <option>React Js</option>
                                <option selected="true">Node Js</option>
                                <option>Vanilla Js</option>
                                <option>Python</option>
                            </select>
                        </div>
                        <div class="code-editor">
                            <!-- <ul class="tabs codeheader_html">
                                <li class="tab" title="File name with extension">./index.html</li>
                                <li class="tabi"><span onclick="Copy('apiInSnipVanillaHtml');" title="Copy this code">📋</span><span onclick="Rview('apiInSnipVanillaHtml')" title="Raw view of this code" class="word">Raw</span>
                                <span title="Feedback of this code" onclick="codeFeed();">👍</span><span onclick="downloadCode('apiInSnipVanillaHtml','index.html');" title="Download it in text file">📥</span></li>
                            </ul> -->
                            <div class="code-wrapper">
                                <div class="line-numbers" id="apiInSnipVanillaHtml-line"></div>
                                <pre class="code language-html" contenteditable="false" spellcheck="false" id="apiInSnipVanillaHtml">< html@ |lang="en"n >
                                    < head@ >
                                        < meta@ |charset="utf-8"n >
                                        < meta@ |name="viewport"n |content="width=device-width, initial-scale=1"n >
                                        < title@ |version="1.0"n >$|title|$< /title@ >
                                    < /head@ >
                                    < body@ >
                                        $|body|$
                                    < /body@ >
                                    < !-- link the api plugins in your project (below) -- >
                                    $|libplugin|$
                                    $|apiplugin|$
                                    < !-- link the script file where your request is encoded -- >
                                    &lt; script@ |src="./main.js"n >< /script@ >
                                < /html@ >
                                <div class="btn btn-copy">Copy</div>
                                </pre>
                            </div>
                        </div>
                    </form>
                </div>
                <hr/>
                <div class="flx head">
                    <div class="btn btn-process"><i class="fa fa-bug"></i> Report Bug</div>
                </div>
            </div>
        </div>
    </section>
    <div id="customerFeed">
        <%= feed %>
    </div>
    </section>
    <aside id="faq-help" class="appear hide">
        <%= faq %>
    </aside>
    <footer id="footer">
        <%= footer %>
    </footer>
</body>
<script src="../public/App.js"></script>
<script src="../public/default.min.js"></script>
<script>
    pageSet.push('header', 'apiPlugPage', 'faq-help', 'footer');
    appearSet.push(['#faq-help', 580]);
    currentPage.push('apiPlug');
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    document.getElementById('footer').innerHTML = document.getElementById('footer').textContent;
    document.getElementById('faq-help').innerHTML = document.getElementById('faq-help').textContent;
    document.getElementById('customerFeed').innerHTML = document.getElementById('customerFeed').textContent;
    codeset('Image Converter', 'Node Js');

    function selectLang(){
        let lang = document.getElementById('apilang').value;
        let name = document.getElementById('apiname').value;
        codeset(name, lang);
    }
    
    function codeset(name, lang){
        setTimeout(()=>{
            appointCode = eval(compiler.appointCode);
            document.getElementById('apiInSnipVanillaHtml').innerText = appointCode(name, lang, compiler);
            // document.getElementById('apiInSnipVanillaHtml').innerHTML += `<div class="btn btn_copy">Copy</div>`;
            updateLine = eval(compiler.updateLineNumbers);
            jsCompiler = eval(compiler.jsCompiler);
            ideDeploy = eval(compiler.ideDeploy);
            jsCompiler('#apiInSnipVanillaHtml');
            ideDeploy('#apiInSnipVanillaHtml','#apiInSnipVanillaHtml-line', updateLine);
        },1000);
    }
    document.querySelector('.code-editor').addEventListener('click', function (event){
        if(event.target === this){
            system.copyCode('#apiInSnipVanillaHtml');
        }
    });
</script>
</html>