<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="CHSCDN">
    <meta property="og:image" content="../images/side-img.png" name="og:image">
    <meta itemprop="image" content="https://kidKrishkode.github.io/CavernousHoaxScanner.github.io/images/side-img.png">
    <meta property="og:site_name" content="Cavernous Hoax Scanner CDN">
    <meta property="twitter:image" content="https://kidKrishkode.github.io/CavernousHoaxScanner.github.io/images/side-img.png">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="Cavernous Hoax Scanner CDN">
    <meta content="CHSCDN is a web-based Content Delivery Network (CDN) which utilizes JPEN stack technology to deliver pre-built JavaScript, TypeScript, and CSS libraries for smooth integration with CHSAPI." lang="en-us" name="description">
    <meta content="Cavernous Hoax Scanner, CDN, Deepfake Detector, DFD, Image tool, deepfake, image genetator, project, CNN, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">CHSCDN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://chsweb.vercel.app/public/App.css" />
    <link rel="stylesheet" href="https://chsweb.vercel.app/public/index.css"  />
    <link rel="icon" href="https://chsweb.vercel.app/public/favicon.ico"  />
</head>
<style>
    :root{
        --bs-body-bg-rgb: 255, 255, 255;
        --bs-primary-rgb: 13, 110, 253;
        --bd-accent-rgb: 255, 228, 132;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
        --bd-pink-rgb: 214, 51, 132;
    }
    .intro{
        padding-top: 80px;
        margin: 0px 0px;
        height: 700px;
        /* background-image: linear-gradient(180deg, transparent, transparent 85%), radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%); */
        background-image: linear-gradient(180deg, transparent, transparent 85%), radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%), radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%), radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
        .apiLand{
            margin-top: 0px;
        }
    }
    .code-editor:before{
        display: none;
    }
    .api-container h5{
        margin-top: 16%;
        margin-bottom: 2px;
        font-size: 28px;
        font-family: sans-serif;
        font-weight: 600;
        letter-spacing: 2px;
        color: #fff;
        text-shadow: -0.5px -0.5px 0 var(--lavender), 0.5px -0.5px 0 var(--lavender), -0.5px 0.5px 0 var(--lavender), 0.5px 0.5px 0 var(--lavender);
    }
    .api-container h2{
        margin-top: 0px!important;
        span{
            background: linear-gradient(50deg, #2323ff 30%, #ec2c75 50%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .left-middle-des{
        top: 110%!important;
    }
    .product-list-a{
        margin-top: 20px;
        margin-bottom: 120px;
    }
</style>
<body>
    <header id="header">
        <%= header %>
    </header>
    <section class="workspace" id="apiLandingPage">
        <img src="../images/glow1.png" onerror="this.src='https:/\/chsweb.vercel.app/images/glow1.png';" alt="chs" class="left-middle-des"/>
        <img src="../images/3d_atom.png" onerror="this.src='https:/\/chsweb.vercel.app/images/3d_atom.png';" alt="chs" class="right-middle-des"/>
        <img src="../images/arrow_circle.png" onerror="this.src='https:/\/chsweb.vercel.app/images/arrow_circle.png';" alt="chs" class="left-bottom-des"/>
        <div class="intro">
            <div class="apiLand">
                <div class="api-left api-container">
                    <h5>Build fast, media-tech sites</h5>
                    <h2>with <span>CHSCDN Plugins</span></h2>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia dolor vero voluptatem doloremque assumenda sint! Temporibus alias neque perferendis ullam explicabo dolores consectetur! Eveniet sapiente totam fugiat, autem accusantium nam?</p>
                    <div class="flx">
                        <div class="btn btn-process" onclick="route('https:/\/chsweb.vercel.app/cdnPlug')">Quick Start</div>
                        <div class="btn btn-invisible-process text-white" onclick="route('https:/\/chsweb.vercel.app/docs')">View CDN Document</div>
                    </div>
                </div>
                <div class="api-right api-container">
                    <img src="../images/api_icon.png" onerror="this.src='https:/\/chsweb.vercel.app/images/api_icon.png';" alt="chs"/>
                </div>
            </div>
        </div>
        <div class="product-list product-list-a appear hide">
            <div class="product">
                <div class="icon"></div>
                <div class="head">Image Standards</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
            <div class="product">
                <div class="icon"></div>
                <div class="head">CHSCDN Connector</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
            <div class="product">
                <div class="icon"></div>
                <div class="head">Video Tailor</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
        </div>
        <div class="graph-repo">
            <div class="graph-component graph-left">
                <h2>Traffic Analysis <span>Monthly updated</span></h2>
                <canvas class="graph" id="lineChart">Graph</canvas>
            </div>
            <div class="graph-component graph-right">
                <h2>Popular Service</h2>
                <div class="head">Populization data depend on Traffic</div>
                <canvas class="graph pieChart">Pie</canvas>
                <ul class="pie-ul"></ul>
            </div>
        </div>
        <div class="product-list product-list-b appear hide">
            <div class="product">
                <div class="icon"></div>
                <div class="head">Web Standards</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
            <div class="product">
                <div class="icon"></div>
                <div class="head">Dynamic Connecttion</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
            <div class="product">
                <div class="icon"></div>
                <div class="head">Lorem ipsum, dolor sit</div>
                <div class="body">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni laudantium cumque ex doloribus earum tempore rerum pariatur sapiente veniam saepe?</div>
            </div>
        </div>
    </section>
</body>
<script src='https://chsweb.vercel.app/public/App.js'></script>
<script src="https://chsweb.vercel.app/public/default.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script>
    pageSet.push('apiLandingPage');
    appearSet.push(['.product-list-a', 120], ['.product-list-b', 780]); 
    currentPage.push('api');
    setTimeout(()=>{
        document.getElementById('header').style.display = "none";
    },2000);
</script>
<script>
    setTimeout(()=>{
        const trafficAnalyser = eval(config.hex.trafficAnalyser);
        const line_graph = trafficAnalyser();

        const xValues = line_graph.xValues;
        const yValues = line_graph.yValues;

        new Chart("lineChart", {
            type: "line",
            data: {
                labels: line_graph.labels,
                datasets: [{
                    fill: true,
                    lineTension: 0,
                    backgroundColor: "rgba(110, 19, 175, 0.3)",
                    borderColor: "rgba(50, 0, 255, 0.1)",
                    data: yValues
                }]
            },
            options: {
                legend: { display: false },
                title: {
                    display: true,
                    text: "Visitor density according to Time flow"
                },
                scales: {
                    yAxes: [{ticks: {min: 0, max: 60}}],
                }
            }
        });
    },1000);

    setTimeout(()=>{
        let pie = document.querySelector('.pieChart');
        let ul = document.querySelector('.pie-ul');
        let popularityTest = eval(config.hex.popularityTest);
        popularityTest(ul, pie);
    },1000);
</script>
</html>