<h2>Frequently Asked Questions</h2>
<div class="layout">
    <div class="accordion"> 
        <div class="accordion__question"> 
            <p>How to check this youtube video is deepfake or not?</p> 
        </div> 
        <div class="accordion__answer"> 
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nihil hic consequatur consectetur libero. 
                Odio esse vitae dolor voluptatem assumenda repellendus similique ipsam voluptas molestiae, aliquam a suscipit! 
                Natus vero eaque quia, qui, quos expedita quisquam nesciunt vitae quod ipsum error assumenda iusto itaque porro 
                fuga amet aperiam eos facere aspernatur doloribus obcaecati. Quam consequuntur odit est obcaecati. Nihil 
                aspernatur voluptate eveniet, nulla asperiores odit ducimus id recusandae? Unde possimus illum nulla minus atque 
                fugit similique fuga libero beatae provident accusantium quasi magni nisi, quis necessitatibus, velit molestiae 
                magnam? Molestiae, quae nesciunt ullam asperiores eum, nulla quos quis voluptate laboriosam, excepturi error! 
                Veritatis quibusdam perferendis ut deserunt obcaecati, accusamus dicta explicabo rem fugiat quam quas natus beatae 
                sunt illo deleniti!.
            </p>
        </div> 
    </div>
    <div class="accordion"> 
        <div class="accordion__question"> 
            <p>How to check this facebook video is deepfake or not?</p> 
        </div> 
        <div class="accordion__answer"> 
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nihil hic consequatur consectetur libero. 
                Odio esse vitae dolor voluptatem assumenda repellendus similique ipsam voluptas molestiae, aliquam a suscipit! 
                Natus vero eaque quia, qui, quos expedita quisquam nesciunt vitae quod ipsum error assumenda iusto itaque porro 
                fuga amet aperiam eos facere aspernatur doloribus obcaecati. Quam consequuntur odit est obcaecati. Nihil 
                aspernatur voluptate eveniet, nulla asperiores odit ducimus id recusandae? Unde possimus illum nulla minus atque 
                fugit similique fuga libero beatae provident accusantium quasi magni nisi, quis necessitatibus, velit molestiae 
                magnam? Molestiae, quae nesciunt ullam asperiores eum, nulla quos quis voluptate laboriosam, excepturi error! 
                Veritatis quibusdam perferendis ut deserunt obcaecati, accusamus dicta explicabo rem fugiat quam quas natus beatae 
                sunt illo deleniti!.
            </p>
        </div> 
    </div>
    <div class="accordion"> 
        <div class="accordion__question"> 
            <p>Is Cavernous Hoax Scanner safe platform for image editing?</p> 
        </div> 
        <div class="accordion__answer"> 
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nihil hic consequatur consectetur libero. 
                Odio esse vitae dolor voluptatem assumenda repellendus similique ipsam voluptas molestiae, aliquam a suscipit! 
                Natus vero eaque quia, qui, quos expedita quisquam nesciunt vitae quod ipsum error assumenda iusto itaque porro 
                fuga amet aperiam eos facere aspernatur doloribus obcaecati. Quam consequuntur odit est obcaecati. Nihil 
                aspernatur voluptate eveniet, nulla asperiores odit ducimus id recusandae? Unde possimus illum nulla minus atque 
                fugit similique fuga libero beatae provident accusantium quasi magni nisi, quis necessitatibus, velit molestiae 
                magnam? Molestiae, quae nesciunt ullam asperiores eum, nulla quos quis voluptate laboriosam, excepturi error! 
                Veritatis quibusdam perferendis ut deserunt obcaecati, accusamus dicta explicabo rem fugiat quam quas natus beatae 
                sunt illo deleniti!.
            </p>
        </div> 
    </div>
    <div class="accordion"> 
        <div class="accordion__question"> 
            <p>How can i get a public api for use cavernous in my web?</p> 
        </div> 
        <div class="accordion__answer"> 
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nihil hic consequatur consectetur libero. 
                Odio esse vitae dolor voluptatem assumenda repellendus similique ipsam voluptas molestiae, aliquam a suscipit! 
                Natus vero eaque quia, qui, quos expedita quisquam nesciunt vitae quod ipsum error assumenda iusto itaque porro 
                fuga amet aperiam eos facere aspernatur doloribus obcaecati. Quam consequuntur odit est obcaecati. Nihil 
                aspernatur voluptate eveniet, nulla asperiores odit ducimus id recusandae? Unde possimus illum nulla minus atque 
                fugit similique fuga libero beatae provident accusantium quasi magni nisi, quis necessitatibus, velit molestiae 
                magnam? Molestiae, quae nesciunt ullam asperiores eum, nulla quos quis voluptate laboriosam, excepturi error! 
                Veritatis quibusdam perferendis ut deserunt obcaecati, accusamus dicta explicabo rem fugiat quam quas natus beatae 
                sunt illo deleniti!.
            </p>
        </div> 
    </div>
    <div class="accordion"> 
        <div class="accordion__question"> 
            <p>How Cavernous Hoax Scanner work, what is the mechinisum of it?</p> 
        </div> 
        <div class="accordion__answer"> 
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quos nihil hic consequatur consectetur libero. 
                Odio esse vitae dolor voluptatem assumenda repellendus similique ipsam voluptas molestiae, aliquam a suscipit! 
                Natus vero eaque quia, qui, quos expedita quisquam nesciunt vitae quod ipsum error assumenda iusto itaque porro 
                fuga amet aperiam eos facere aspernatur doloribus obcaecati. Quam consequuntur odit est obcaecati. Nihil 
                aspernatur voluptate eveniet, nulla asperiores odit ducimus id recusandae? Unde possimus illum nulla minus atque 
                fugit similique fuga libero beatae provident accusantium quasi magni nisi, quis necessitatibus, velit molestiae 
                magnam? Molestiae, quae nesciunt ullam asperiores eum, nulla quos quis voluptate laboriosam, excepturi error! 
                Veritatis quibusdam perferendis ut deserunt obcaecati, accusamus dicta explicabo rem fugiat quam quas natus beatae 
                sunt illo deleniti!.
            </p>
        </div> 
    </div>
</div>