<div id="feed">
    <h3>Here From our Satisfied Users</h3>
    <div class="feed-area">
        <div class="container" id="feed-group">
            <div class="single-feed">
                <h4>Cool</h4>
                <p class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio natus et quidem itaque eum assumenda perspiciatis amet commodi facilis.</p>
                <hr>
                <h5>Jhon Deo</h5>
            </div>
            <div class="single-feed">
                <h4>Amazing</h4>
                <p class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio natus et quidem itaque eum assumenda perspiciatis amet commodi facilis.</p>
                <hr>
                <h5>Jhon Deo</h5>
            </div>
            <div class="single-feed">
                <h4>Amazing</h4>
                <p class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio natus et quidem itaque eum assumenda perspiciatis amet commodi facilis.</p>
                <hr>
                <h5>Jhon Deo</h5>
            </div>
            <div class="single-feed">
                <h4>Good</h4>
                <p class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio natus et quidem itaque eum assumenda perspiciatis amet commodi facilis.</p>
                <hr>
                <h5>Jhon Deo</h5>
            </div>
            <div class="single-feed">
                <h4>Cool</h4>
                <p class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum odio natus et quidem itaque eum assumenda perspiciatis amet commodi facilis.</p>
                <hr>
                <h5>Jhon Deo</h5>
            </div>
        </div>
    </div>
</div>