<svg viewBox="0 0 500 150" preserveAspectRatio="xMinYMin meet" class="svg2">
    <path d="M0,100 C150,200 350,0 500,100 L500,00 L0,0 Z" style="stroke: none;"></path>
</svg>
<!-- <svg viewBox="0 0 500 150" preserveAspectRatio="xMinYMin meet" class="svg1">
    <path d="M0,50 C150,200 350,0 500,100 L500,60 L3000,50 Z" style="stroke: none;"></path>
</svg> -->
<div class="footer-top-component">
    <h3>Cavernous Hoax Scanner</h3>
    <!-- Cavernous Hoax Scanner (CHS) is a cutting-edge deepfake image & video detection platform also feature image compresser, image converter, image to pdf to ensure AI-powered media processing. -->
    <h6>Unmasking manipulated realities with Cavernous precision</h6>
    <!-- CHS have so many features like converter, compressor, image to pdf, image generator etc -->
    <p class="text-muted" style="text-align: justify;">Welcome to Cavernous Hoax Scanner, a cutting-edge tool designed to detect deepfake images and videos. Deepfakes are synthetic media where a person in an existing image or video is replaced with someone else's likeness. With the increasing sophistication of deepfake technology, it's crucial to have reliable methods to identify and mitigate potential misuse.</p>
    <button class="btn btn-outline-light" title="Learn About Us" onclick="route('/about')">JOIN US</button>
</div>
<div class="middle-component">
    <div class="organization-list">
        <h6>Trusted by the World's Leading Organizations <i class="fa fa-long-arrow-down" style="transform: rotate(-30deg);"></i> </h6>
        <ul>
            <li><img src="../images/facebook.png" alt="chs" title="Facebook" /></li>
            <li><img src="../images/bookmylib.png" alt="chs" title="BookMyLib" /></li>
            <li><img src="../images/github.png" alt="chs" title="Github" /></li>
            <li><img src="../images/inphantapi.png" alt="chs" title="Inphant Api" /></li>
            <li><img src="../images/aidictonary.png" alt="chs" title="Ai-Dictionary" /></li>
            <li><img src="../images/godaddy.png" alt="chs" title="Godaddy" /></li>
            <li><img src="../images/mockmantra.png" alt="chs" title="Mock Mantra" /></li>
        </ul>
    </div>
    <div class="link-boxes">
        <ul class="box">
            <li class="link_name">Company</li>
            <li><a onclick="route('/main')">Main</a></li>
            <li><a onclick="route('/aboutPlug')">API Plugins</a></li>
            <li><a onclick="route('/about')">About us</a></li>
            <li><a onclick="route('/blogs')">Blogs</a></li>
        </ul>
        <ul class="box">
            <li class="link_name">Services</li>
            <li><a onclick="route('/index')">DeepFake Detection</a></li>
            <li><a onclick="route('/imgEditor')">Image Editor</a></li>
            <li><a onclick="route('/imgtoPdf')">Image to PDF</a></li>
            <li><a onclick="">Face Morphism</a></li>
        </ul>
        <ul class="box">
            <li class="link_name">Account</li>
            <li><a href="https://whitelotus4.github.io/weatherbyWHITELOTUS.github.io/PStorebyWhiteLotus/Profile.html" title="Publick profiles">Profile</a></li>
            <li><a href="https://whitelotus4.github.io/weatherbyWHITELOTUS.github.io/PStorebyWhiteLotus/User_Login.html" title="Monitor your performance, open your pannel">My account</a></li>
            <li><a href="https://whitelotus4.github.io/weatherbyWHITELOTUS.github.io/PStorebyWhiteLotus.html" title="prefrences inventory, products">Product/Prefrences</a></li>
            <li><a onclick="invalid();">Purchase</a></li>
        </ul>
        <ul class="box">
            <li class="link_name">Offers</li>
            <li><a onclick="invalid();">Donation</a></li>
            <li><a onclick="invalid();">Advertisement</a></li>
            <li><a onclick="invalid();">Coupons/Tickets</a></li>
            <li><a onclick="invalid();">Subscription</a></li>
        </ul>
        <ul class="box input-box">
            <li class="link_name">About White Lotus</li>
            <li style="text-align: justify; color: grey;">First of all, it is better to say that our WHITE LOTUS was established in 14 February 2023. So it didn't take us 
            long for this team to come into existence. So we are making this website for many needs and requests of our audience so that they can keep an eye on all our 
            knowledge from one place. <a href="/about#aboutTeam" onclick="" style="cursor: pointer;">See more..</a></li>
        </ul>
    </div>
</div>
<div class="bottom-component flx">
    <div class="left-side">
        <span>Copyright © 2024</span>
        <span>All rights under reserved</span>
        <span onclick="system.openPrivacy();">Privacy Statements</span>
        <span onclick="system.openTerms();">Terms & Condition</span><br>
        <span>This Website is created with <i class="fa fa-heart-o" aria-hidden="true"></i> by WHITE LOTUS</span>
    </div>
    <div class="right-side flo">
        <a href="https://facebook.com/"><i class="fa fa-facebook"></i></a>
        <a href="https://github.com/WHITELOTUS4"><i class="fa fa-github"></i></a>
        <a href="https://linkedin.com/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.youtube.com/@whitelotus4"><i class="fa fa-youtube-play"></i></a>
        <a href="https://instagram.com/"><i class="fa fa-instagram"></i></a>
        <a href="https://x.com/?lang=en-in"><i class="fa fa-twitter"></i></a>
    </div>
</div>