<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamline Diagnosis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="icon" href="../public/favicon.png"/>
</head>
<style>
    body{
        overflow: hidden!important;
    }
</style>
<body>
    <section class="workspace" id="e404">
        <img src="../images/shape1.png" class="l-img" alt="load"/>
        <img src="../images/shape1.png" class="r-img" alt="load"/>
        <h1><%= error %>!</h1>
        <h4><%= message %></h4>
    </section>
</body>
<script src="../public/App.js"></script>
</html>