<span id="services">
    <div class="image-bg-prod">
        <h3>Always in our Customer Favour</h3>
        <h6>Discover the Powerful Features of Cavernous Hoax Scanner. Stay tune for more tools.</h6>
    </div>
    <div class="services-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-service" onclick="route('/imgEditor');">
                        <h4>Image Editior</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsam dolor eum doloremque itaque nemo.</p>
                        <div class="img-folder">
                            <img class="img-fluid" src="../images/s1.png" alt="chs" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service" onclick="route('/imgToPdf');">
                        <h4>Image to PDF Converter</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsam dolor eum doloremque itaque nemo.</p>
                        <div class="img-folder">
                            <img class="img-fluid" src="../images/s2.png" alt="chs" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service" onclick="route('/converter');">
                        <h4>Image Converter</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsam dolor eum doloremque itaque nemo.</p>
                        <div class="img-folder">
                            <img class="img-fluid" src="../images/s3.png" alt="chs" />
                        </div>
                    </div>
                </div>														
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-service" onclick="route('/index');">
                        <h4>DeepFake Detector</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsam dolor eum doloremque itaque nemo.</p>
                        <div class="img-folder">
                            <img class="img-fluid" src="../images/s4.png" alt="chs" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service" onclick="route('/');">
                        <h4>Face Morphism</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsam dolor eum doloremque itaque nemo.</p>
                        <div class="img-folder">
                            <img class="img-fluid" src="../images/s5.png" alt="chs" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service" onclick="route('/compressor');">
                        <h4>Image Compressor</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsam dolor eum doloremque itaque nemo.</p>
                        <div class="img-folder">
                            <img class="img-fluid" src="../images/s6.png" alt="chs" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>