<span id="services">
    <div class="image-bg-prod">
        <h3>Always in our Customer Favour</h3>
        <h6>Lorem ipsum dolor sit amet consectetur.</h6>
    </div>
    <div class="services-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-service">
                        <img class="img-fluid" src="../images/s1.png" alt="chs" />
                        <h4>Image Editior</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsam dolor eum doloremque itaque nemo.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service">
                        <img class="img-fluid" src="../images/s2.png" alt="chs" />
                        <h4>Image to PDF Converter</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vitae inventore deserunt, repellat labore qui.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service">
                        <img class="img-fluid" src="../images/s3.png" alt="chs" />
                        <h4>Image Converter</h4>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo sint dolore quis hic amet consequatur?</p>
                    </div>
                </div>														
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-service">
                        <img class="img-fluid" src="../images/s1.png" alt="chs" />
                        <h4>DeepFake Detector</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis, ipsam dolor eum doloremque itaque nemo.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service">
                        <img class="img-fluid" src="../images/s2.png" alt="chs" />
                        <h4>Face Morphism</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vitae inventore deserunt, repellat labore qui.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-service">
                        <img class="img-fluid" src="../images/s3.png" alt="chs" />
                        <h4>Size Compressor</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vitae inventore deserunt, repellat labore qui.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</span>